* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainBox {
    width: 500px;
    height: 600px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 10px;
    padding: 10px;
    box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.082);
}

#headerInfo {
}

#tasksBox {
    
}

.bigBox {
    border-radius: 8px;
    border: 1px solid #290e0e;
    background-color: #842A3B;
    
}

.middleBox {
    border: 1px solid #290e0e;
    background-color: #444444;
    border-radius: 8px;
}